.box{
    margin: 0 auto;
    width: 320px; 
    border: 1px solid #dedede;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 14px;
}

.title{
    padding: 1.5rem;
    background-color: #2a2e37;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.main{
    padding: 1.5rem;
}